.grid{
    display: flex;
}
.cell{
    flex: 1;
}
.large{
    flex-grow: 3;
}
.gutters{
    margin: -10px 0 10px -10px;
}
.gutters >div{
    padding: 10px 0 0 10px;
}

.half{
    flex-basis: 50%;
}
.third{
    flex-basis: 33.3333%;
}
.fourth{
    flex-basis: 25%;
}